---
title: Lyceum
---

.wrapper
  .logo
  .advert
    %p.important Важные объявления
    %span.advert-meta 12.04
    %p Cегодня в 19:00 в аудитории 360 пройдет встреча с директором Лицея
    %span.advert-meta 12.04
    %p Скоро состоится конференция для школьников старших классов
    %span.advert-meta 12.04
    %p Сегодня отменяется факультатив по рисункку и живописи
  .hat
    .about
      %h Лицей НИУ ВШЭ
      %p Подготовка специалистов современного международного уровня, в которых столь остро нуждается экономика России. Лицей готовит высококвалифицированных руководителей и аналитиков для государственных органов управления, различных организаций и фирм, исследовательских центров, а также преподавателей высших учебных заведений.
    .about-menu
      %h3 о лицее
      %ul 
        %li
          %a{:href => "#"}История
        %li
          %a{:href => "#"}Руководство
        %li
          %a{:href => "#"}Достижения
        %li
          %a{:href => "#"}Преподаватели
        %li
          %a{:href => "#"}Школа
        %li
          %a{:href => "#"}Вопросы
        %li
          %a{:href => "#"}Контактная информация
  .main
    .contain
      .rubric-container
        %a.rubric.all-news{:href => ""} Все новости
        %a.rubric.postupaushim{:href => ""} Поступающим
        %a.rubric.graduates{:href => ""} Наши выпускники
        %a.rubric.for-student{:href => ""} Учащимся
        %a.rubric.actions{:href => ""} Мероприятия
        %a.rubric.professors{:href => ""} Преподаватели
        %a.rubric.life{:href => ""} Жизнь лицея
        %a.rubric.projects{:href => ""} Проекты
        %a.rubric.photo{:href => ""} Фотоотчеты
      .news-list
        .news
          .news-meta
            .icon
            %span.date 23 окт
            .year 
              %p 2013
            %span.comments 4
          .news-block
            %a.news-link{:href => "#"}До 17 октября прием заявок на участие в школьной Биеннале современного искусства
            %p С 24 сентября по 15 октября под окнами Лицея разворачивается «МедиаДвор» — специальный арт-проект в рамках 5-й Московской биеннале современного искусства. А 19 октября Билайн, Генеральный партнер 5-й Московской биеннале, представляет возможность посетить выставку БОЛЬШЕ СВЕТА совершенно бесплатно!
            %a.rubric.for-student{:href => ""} Учащимся
        .news
          .news-meta
            .calendar
              21 окт
          .news-block
            %a.news-link{:href => "#"}21 октября состоится круглый стол для учащихся старших классов
            %p«Афиша» решила узнать, как школьники реагируют на новое искусство, — и попросила нескольких подростков осмыслить произведения, представленные на 5-й Московской биеннале современного искусства, не заглядывая в экспликации.
            %a.rubric.actions{:href => ""} Мероприятия
        .news
          .news-meta
            .icon
            %span.date 23 окт
            .year 
              %p 2013
            %span.comments 4
          .news-block
            %a.news-link{:href => "#"}До 17 октября прием заявок на участие в школьной Биеннале современного искусства
            %p 24 сентября по 15 октября под окнами Лицея разворачивается «МедиаДвор» — специальный арт-проект в рамках 5-й Московской биеннале современного искусства. А 19 октября Билайн, Генеральный партнер 5-й Московской биеннале, представляет возможность посетить выставку БОЛЬШЕ СВЕТА совершенно бесплатно!
            %a.rubric.postupaushim{:href => ""} Поступающим
        .news
          .news-meta
            .icon
            %span.date 23 окт
            .year 
              %p 2013
            %span.comments 4
          .news-block
            %a.news-link{:href => "#"}21 октября состоится круглый стол для учащихся старших классов
            %p«Афиша» решила узнать, как школьники реагируют на новое искусство, — и попросила нескольких подростков осмыслить произведения, представленные на 5-й Московской биеннале современного искусства, не заглядывая в экспликации.
            %a.rubric.graduates{:href => "#"} Наши выпускники
      %a.next-page{:href => "#"}Следующая страница>
      .pages
        %ul
          %li 1
          %li 
            %a.active{:href => "#"}2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10
          %li 11
          %li 12
          %li 13
          %li 14
          %li 15
          %li 16
          %li 17
          %li 18
          %li 19
          %li 20
          %li ...
    %aside
      .aside-menu
        %h2 Студентам
        %ul 
          %li
            %a{:href => "#"} Доска объявлений
          %li
            %a{:href => "#"} Видеоблог
          %li
            %a{:href => "#"} Мероприятия
          %li
            %a{:href => "#"} Календарь
          %li
            %a{:href => "#"} Факультативы
          %li
            %a{:href => "#"} Форум
      .aside-menu
        %h2 Поступающим
        %ul 
          %li
            %a{:href => "#"}Правила поступления
          %li
            %a{:href => "#"}Результаты
          %li
            %a{:href => "#"}Подать заявку
          %li
            %a{:href => "#"}Статистика
          %li
            %a{:href => "#"}Рекомендации
          %li
            %a{:href => "#"}Вступительные испытания
      .aside-menu
        %a{:href => "#"} Москва, Большой Харитоньевский переулок, д.4
        %p Телефон: +7(495)53-100-53
  %footer
    .footer-menu
      %h3 Жизнь лицея
      %ul 
        %li
          %a{:href => "#"}Новости
        %li
          %a{:href => "#"}Доска объявлений
        %li
          %a{:href => "#"}Факультативы
        %li
          %a{:href => "#"}Календарь
        %li
          %a{:href => "#"}Видеоблог
        %li
          %a{:href => "#"}Мероприятия
    .footer-menu
      %h3 Поступающим
      %ul 
        %li
          %a{:href => "#"}Правила поступления
        %li
          %a{:href => "#"}Результаты
        %li
          %a{:href => "#"}Подать заявку
        %li
          %a{:href => "#"}Статистика
        %li
          %a{:href => "#"}Рекомендации
        %li
          %a{:href => "#"}Вступительные испытания
    .footer-menu
      %h3 Проекты
      %ul 
        %li
          %a{:href => "#"}Лучшие
        %li
          %a{:href => "#"}Новые
        %li
          %a{:href => "#"}Теория познания
    .footer-menu
      %h3 О Лицее
      %ul 
        %li
          %a{:href => "#"} История
        %li
          %a{:href => "#"}Руководство
        %li
          %a{:href => "#"}Достижения
        %li
          %a{:href => "#"}Преподаватели
        %li
          %a{:href => "#"}Школа
        %li
          %a{:href => "#"}Вопросы
        %li
          %a{:href => "#"}Контактная информация
    .footer-menu.useful
      %h3 Полезные ссылки
      %a{:href => "#"} www.edu.ru
      %p Федеральный портал «Российское образование»
      %a{:href => "#"} минобрнауки.рф
      %p Официальный сайт Министерства образования и науки РФ
      %a{:href => "#"} window.edu.ru
      %p Информационная система «Единое окно доступа к образовательным ресурсам»
      %a{:href => "#"} school-collection.edu.ru
      %p Единая коллекция цифровых образовательных ресурсов